body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #005bb5;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: #0073e6;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.chat-container {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-top: 50px;
    display: none; /* Сховати контейнер чату за замовчуванням */
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #0084FF;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.avatar {
    width: 40px; /* Задайте бажану ширину */
    height: 40px; /* Задайте бажану висоту */
    border-radius: 50%;
    margin-right: 10px;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.sent {
    background-color: #0084FF;
    color: white;
    align-self: flex-end;
}

.message.received {
    background-color: #E5E5EA;
    color: black;
    align-self: flex-start;
}

.input-area {
    padding: 20px;
    background: white;
    display: flex;
    gap: 10px;
}

.input-area input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-area button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.option-button {
    margin: 5px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.option-button:hover {
    background-color: #0056b3;
}

.logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}